# Imersão pandas

SqlAlchemy é uma biblioteca de ORM

- Conexão fácil 
- Mapeamento de Tabela com Classe (ORM)
- Resolve um comflito de tecnologias com paradígmas diferentes.
- Tudo fique orientado a objetos

In [2]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

In [4]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\projetomanha\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
! pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [7]:
import pandas as pd

In [8]:
from sqlalchemy import create_engine

In [9]:
import pymysql

Senha?

- password: senai@123

In [16]:
# biblioteca para converter e resolver o problema do @ na senha 
import urllib.parse

# Qual o usuario e a senha do banco?

user = 'root'

#password = ''

# password = 'root'
password = urllib.parse.quote_plus('senai@123')

# Qual o host do banco?

host = 'localhost'

database = 'projetodiario'

# Connection_string : string com TODAS as informações da conexão 
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# criando a conexão
engine = create_engine(connection_string)

# Escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"

# Criar um dataframe com a consulta SQL
df_alunos = pd.read_sql(query_alunos,engine)

df_alunos

    id        ra  nome  tempoestudo rendafamiliar
0    1  12345678  None            0          None
1    2  12345670  None            0          None
2    3  12345671  None            0          None
3    4  12345672  None            0          None
4    5  12345673  None            0          None
5    6  12345674  None            0          None
6    7  12345675  None            0          None
7    8  12345676  None            0          None
8    9  12345677  None            0          None
9   10  12345679  None            0          None
10  11  12345680  None            0          None
11  12  12345681  None            0          None
12  13  12345682  None            0          None
13  14  12345683  None            0          None
14  15  12345684  None            0          None
15  16  12345685  None            0          None
16  17  12345686  None            0          None
17  18  12345687  None            0          None
18  19  12345688  None            0          None
19  20  12345689  None            0          None
20  21  12345690  None            0          None
21  22  12345691  None            0          None
22  23  12345692  None            0          None
23  24  12345693  None            0          None
24  25  12345694  None            0          None

## Bilioteca para Data Science
- pandas (EDA - Analise exploratoria de dados)
- SciktLean (Fundamentos de Inteligencia Artificial)
- NumPy (atemãtica complexa com abstração)

Salvando o DataFrame

- .csv
- .xlsx
- .jason
- .sql
- .html
- .xml

In [17]:
csv_filename = "alunos.csv"
df_alunos.to_csv(csv_filename,index=False)

# Crie uma nova celula que salve o dataframe no formato .json

In [18]:
json_filename = "alunos.json"
df_alunos.to_json(json_filename,index=False)

# Um novo DataFrame

In [19]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliar'], dtype='object')